.active {
    background-color: rgba(0,0,0,.15);
}

.navbar {
    position: fixed !important;
    width: 100%;
}

.main {
    top: 49px;
    position: relative;
}

.sidebar {
    position: fixed;
}

.content {
    margin-left: 230px;
    width: calc(100% - 230px) !important;
}

.table {
    margin-bottom: 0 !important;
}

.table-buttons {
    display: inline-flex;
    float: right;
}

.table-buttons > div:first-child {
    margin-right: 10px;
}

.controls {
    margin-bottom: 20px;
}

i.fas, i.fa {
    padding-right: 5px;
}

.showButton {
    background-color: #28a745;
    color: #ffffff;
}

.showButton:hover {
    background-color: #269c41;
    color: #ffffff;
}

.actions i.fas, .actions i.fa {
    padding: 0;
}

.actions .btn-icon {
    padding: .375rem .55rem;
}

.tournamentRow {
    margin-left: 0 !important;
}

.tournamentParticipant i.fas {
    float: right;
    padding-top: 4px;
    color: #000;
}