/* HIDE RADIO */
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* IMAGE STYLES */
  [type=radio] + div {
    cursor: pointer;
  }
  
  /* CHECKED STYLES */
  [type=radio]:checked + div {
    outline: 2px solid #f00;
  }

  .tournament {
    border: 1px solid black;
    padding: 10px 15px;
    margin-right: 10px;
  }

  .tournament h2 {
    font-size: 25px;
    font-weight: bold;
  }

  .tournament h2 span {
    font-size: 17px;
    font-weight: 500;
  }

.inschrijfButton {
  padding: 10px 20px;
  margin-top: 15px;
}

.header-main .menubar {
  float: right;
}

.auth {
  margin-top: 100px;
}

.authForm {
  max-width: 30%;
  margin: 20px auto 0;
}

.authForm label {
  padding: 0;
  width: 60%;
}

.authForm .row {
  margin: 0 0 20px 0;
}

.authButton {
  padding: 10px 20px;
  margin-top: 15px;
  width: 100%;
}

.passwordForget {
  border: none;
  font-size: 15px;
  text-decoration: none;
  width: 100%;
}